name: Build Windows App

on:
  workflow_dispatch:

jobs:
  build-windows:
    runs-on: windows-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4
      with:
        repository: Instituto-Reformado-Santo-Evangelho/bereia-verse
        token: ${{ secrets.GH_PAT_BEREIA }}
        fetch-depth: 0

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Inject Google Client Secrets
      env:
        GOOGLE_SECRETS: ${{ secrets.GOOGLE_CLIENT_SECRETS }}
      run: |
        echo "$env:GOOGLE_SECRETS" > composeApp/src/jvmMain/resources/client_secrets.json
      shell: powershell

    - name: Decode PFX Certificate
      if: "${{ secrets.MSIX_PFX_BASE64 != '' }}"
      env:
        MSIX_PFX_BASE64: ${{ secrets.MSIX_PFX_BASE64 }}
      run: |
        [System.Convert]::FromBase64String($env:MSIX_PFX_BASE64) | Set-Content -Path "composeApp/signing.pfx" -AsByteStream
      shell: powershell

    - name: Build Windows MSIX
      env:
        PFX_PASS: ${{ secrets.MSIX_PFX_PASSWORD }}
      run: |
        ./gradlew :composeApp:createMsix `
          -Pmsix.pfx.path="signing.pfx" `
          -Pmsix.pfx.password="$env:PFX_PASS" `
          --no-configuration-cache

    - name: Upload MSIX Artifact
      uses: actions/upload-artifact@v4
      with:
        name: verse-windows-msix
        path: composeApp/build/outputs/msix/BereiaVerse.msix

    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: composeApp/build/outputs/msix/BereiaVerse.msix
