name: Build Linux App

on:
  workflow_dispatch:
    inputs:
      ref:
        description: 'Branch, Tag ou SHA do bereia-verse para compilar'
        required: false
        default: ''

jobs:
  build-linux:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4
      with:
        repository: Instituto-Reformado-Santo-Evangelho/bereia-verse
        token: ${{ secrets.GH_PAT_BEREIA }}
        ref: ${{ github.event.inputs.ref || github.ref_name }}
        fetch-depth: 0

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: gradle

    - name: Inject Google Client Secrets
      env:
        GOOGLE_SECRETS: ${{ secrets.GOOGLE_CLIENT_SECRETS }}
      run: |
        mkdir -p composeApp/src/desktopMain/resources
        echo "$GOOGLE_SECRETS" > composeApp/src/desktopMain/resources/client_secrets.json

    - name: Install Build Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y fakeroot binutils

    - name: Build Linux DEB
      run: ./gradlew :composeApp:createDistributable :composeApp:packageDeb --no-configuration-cache

    - name: Upload DEB Artifact
      uses: actions/upload-artifact@v4
      with:
        name: verse-linux-deb
        path: composeApp/build/compose/binaries/main/deb/*.deb

    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: composeApp/build/compose/binaries/main/deb/*.deb
        token: ${{ secrets.GH_PAT_BEREIA }}
